# Virtual Environments
venv/
.venv/
env/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Local Data and Logs
WORK/
docs/
logs/
browser_profiles/
.env

# Git
.git/
.gitignore

# Documentation testing
*.pdf
*.tex
